 body {
	background-color:tan;
} 
p {
	line-height:10px;
}
.box {
	background: url("metal-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 3px 4px 5px black;
    height: 300px;
    margin: 0 auto;
    position: relative;
    width: 250px;
} 
.display {
	width:220px;
	position:relative;
	left:9px;
	top:20px;
	height:40px;
}
.display input {
	background-color: #efefef;
    color: black;
    font-size: 21px;
    height: 35px;
    left: 2px;
    position: relative;
    text-align: right;
    top: 2px;
} 
.keys {
	position:relative;
	top:15px;
}
.button {
	width:40px;
	height:30px;
	border:none;
	border-radius:8px;
	margin-left:17px;
	cursor:pointer;
	border-top:2px solid transparent;
}
.button.gray {
	color:white;
	background-color:#6f6f6f;
	border-bottom:black 2px solid;
	border-top:2px #6f6f6f solid;
}
.button.grey {
	color:black;
	background-color:#ccc;
	border-bottom:black 2px solid;
}
.button.black {
	background-color: #303030;
    border-bottom: 2px solid black;
    color: white;
    font-weight: bold;
}
.button.orange {
	color:black;
	background-color:FF9933;
	border-bottom:black 2px solid;
	border-top:2px FF9933 solid;
}
.gray:active {
	border-top:black 2px solid;
	border-bottom:2px #6f6f6f solid;
}
.grey:active {
	border-top:black 2px solid;
	
}
.black:active {
	border-top:black 2px solid;
	border-bottom:#303030 2px solid;
}
.orange:active {
	border-top:black 2px solid;
	border-bottom:FF9933 2px solid;
}

